.section-hero {
  height: 100vh;
  display: flex;
  padding-top: calc-rem(80);
  justify-content: space-between;
  flex-direction: column;

  &__top {
    display: flex;
    justify-content: flex-end;
  }

  &__center {
    display: flex;
  }
  &__logo {
    height: calc-rem(80);
    background-color: $color-purple;
    white-space: nowrap;
    overflow: hidden;

    &__slide {
      height: 100%;
      display: inline-block;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: space-around;
      // animation: 20s slide infinite linear;

      > img {
        margin: 0 40px;
      }

      &:hover {
        animation-play-state: paused;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    &__title {
      font-size: calc-rem(70);
      text-align: center;
    }

    &__description {
      max-width: calc-rem(650);
      text-align: center;
      font-size: calc-rem(21);
    }

    &__button {
      font-size: calc-rem(21);
      background: $color-pink !important;
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-150px * 5));
  }
}
