.main-footer {
  color: $color-white;
  background-color: $color-brand-1;
  padding: calc-rem(76) 0 calc-rem(40);

  &__title {
    font-size: calc-rem(24);
    letter-spacing: calc-rem(2);
    margin-bottom: 2.6rem;
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc-rem(96);

    @include breakpoint(md) {
      flex-direction: column;
      gap: calc-rem(29);
      margin-bottom: calc-rem(50);
    }
  }

  &__group {
    font-size: calc-rem(16);

    &__title {
      margin-bottom: calc-rem(18);
      font-size: calc-rem(15);
      letter-spacing: calc-rem(2);
      text-transform: uppercase;

      &--social-media {
        margin-top: calc-rem(26);
      }
    }

    &__links {
      display: flex;
      gap: calc-rem(10);
      flex-direction: column;
    }

    @include breakpoint(md) {
      &--sm-center {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      &__title--sm-hidden {
        display: none;
      }
    }
  }

  &__download-app {
    display: flex;
    gap: calc-rem(15);

    img {
      display: block;
      @include box(auto, calc-rem(33));
    }
  }

  &__social-media {
    display: flex;
    gap: calc-rem(15);
  }

  &__subscribe-button {
    margin-top: calc-rem(20);
  }

  &__bottom {
    display: flex;
    row-gap: calc-rem(5);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: calc-rem(14);

    &__links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      > li {
        @include padding-x(calc-rem(10));

        &:not(:last-child) {
          border-right: calc-rem(1) solid $color-light;
        }
      }

      @include breakpoint(md) {
        row-gap: calc-rem(5);
        max-width: calc-rem(300);

        > li {
          &:nth-child(2n) {
            border-right: none;
          }
        }
      }
    }
  }
}
