.main-header {
  &__container {
    position: absolute;
    display: flex;
    width: 100vw; 
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  &__icon {
    width: 60px;
    height: 40px;
  }

  .navbar {
    &__list {
      display: flex;
      gap: 1rem;
    }

    &__item {
      font-size: calc-rem(21);
      cursor: pointer;
      list-style-type: none;
    }
  }
}
