---
import Container from '@/components/core/Container';
import { Image } from 'astro:assets';

import profileImage from '@/assets/images/profile-image.png';
import '@/assets/sass/components/section/intro.scss';
---

<section class="section-intro">
  <Container className="section-intro__container">
    <div class="section-intro__experience">
      <div class="section-intro__content">
        <h2 class="section-intro__content__title">about me</h2>
        <h3 class="section-intro__content__title--large">
          Expert Front-End Developer Blending Art and Technology
        </h3>
        <p>
          I'm Sarah Mitchell, a front-end developer in NYC with a Computer Science degree. I
          specialize in creating visually appealing, user-friendly websites, blending technical
          skill with artistic design. I stay current with industry trends for seamless,
          client-friendly development.
        </p>
      </div>
      <div class="section-intro__number">
        <div class="section-intro__experience__box">
          <div class="section-intro__experience__box__title">150+</div>
          <div class="section-intro__experience__box__content">websites coded</div>
        </div>
        <div class="section-intro__experience__box">
          <div class="section-intro__experience__box__title">2+</div>
          <div class="section-intro__experience__box__content">years of experience</div>
        </div>
        <div class="section-intro__experience__box"></div>
      </div>
    </div>
    <div class="section-intro__image">
      <Image
        src={profileImage}
        width={profileImage.width / 2}
        height={profileImage.height / 2}
        alt="hero-section-1"
      />
    </div>
  </Container>
</section>
